body{
    width: 30%;
    height: 100vh;
    display: flex;
}
img{
    width: 500px;
    height: 500px;
    background: ghostwhite;
    transition: width 2s, height 4s, transform 2s;
}
img:hover{
    width: 1000px;
    height: 1000px;
    transform: rotate(360deg);
}